*{
    margin:0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    border: 2px solid black;
}
.navBar{
    background-color: rgb(11, 10, 17);
    height: 40px;
    color: white;
    display: flex;
    text-align: center;
    justify-content: space-evenly;
}
.amazon-logo{
        height: 40px;
        width: 100px;
    }
 .logo{
    background-image: url('amazon_logo.png');
height: 40px;
width: 100%;
background-size: cover;
    }
 .amazon-logo:hover{
    border:2px solid white;
    border: radius 4px;
 }   
.add-1{
    color: #cccccc;
    font-size: 0.9rem;
    padding-left: 15px;
}
.add-icon{
display: flex;
align-items: center;
}
.add-2{
    font-size: 1rem;
    padding-left: 3px;
}
.nav-Address:hover{
    border:2px solid white;
    border: radius 4px;
    cursor: pointer;
}
