*{
    margin:0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    border: 2px solid black;
}
.navBar{
    background-color: rgb(11, 10, 17);
    height: 40px;
    color: white;
    display: flex;
    text-align: center;
    justify-content: space-evenly;
}
.amazon-logo{
        height: 40px;
        width: 100px;
    }
 .logo{
    background-image: url('amazon_logo.png');
height: 40px;
width: 100%;
background-size: cover;
    }
 .amazon-logo:hover{
    border:2px solid white;
    border: radius 3px;
 }   
.add-1{
    color: #cccccc;
    font-size: 0.9rem;
    padding-left: 15px;
}
.add-icon{
display: flex;
align-items: center;
}
.add-2{
    font-size: 1rem;
    padding-left: 3px;
}
.nav-Address:hover{
    border:2px solid white;
    border: radius 3px;
    cursor: pointer;
}
.nav-search{
    display: flex;
    height: 40px;
    width: 620px;
    border-radius: 4px;
}
.search-content{
     background-color: #f3f3f3;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    width:50px;
    border: none;
    text-align: center;
}
.nav-search:hover{
    border: 2px solid orange;
}
.search-input{
    width: 100%;
    font-size: 1rem;
    border: none;
}
.search-icon{
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color: rgb(255, 187, 0);
    color: #0f1111;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.nav-lang{
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-para{
    padding-left:3px;
}
.nav-lang:hover{
border:2px solid white;
    border: radius 3px;
}
.list-1{
    font-size: 0.65rem;
}
.list-2{
    font: size 0.8em;;
}

.nav-signin:hover,.nav-return:hover{
    border:2px solid white;
    border-radius: 4px;
    cursor: pointer;
}
.nav-orders:hover{
border:2px solid white;
    border: radius 3px;
}
.nav-cart{
    display:flex;
    font-size:2rem;
}
.cart-para{
    font-size: 1rem;
    padding-top: 10px;
}
.nav-cart:hover{
border:2px solid white;
    border: radius 3px;
}
.panel{
    display: flex;
    color: #cccccc;
    background-color: #0f1111;
    align-items: center;
    justify-content: space-around;
    height:38px;
}
.panel-options{
   display: flex;
}
.panel-options p{
    padding-left:30px;
}